/* 
    Name:   Jefferson Christ
    Date:   11/7/2024
    Assign: EXAM 3 - Live Bait Website
*/
#WaterVid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    min-height: 1000px;
}

.hero-image {
    background-image: url("bigfish.webp");
    background-color: #ffffff;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    color: rgb(0, 107, 201);
    text-align: center;
    transform: translate(-25%);
    padding-top: 20px;
    font-size: 28px;
}
.hero-text a {
    text-decoration: none;
    color: rgb(0, 107, 201);
    font-size: 26px;
}
a:hover {
    color:#00ffcc;
}

footer {
    background-color: rgb(0, 107, 201);
    color: white;
    font-size: 20px;
    position: bottom;
    width: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    padding-bottom: 30px;
}

/*index.html*/
.lakeside {
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.lakeside p {
    font-size: 18px;
    margin-right: 30%;
}
.lakeside h2 {
    text-align: right;
    font-size: 36px;
}
.lakeside h3 {
    font-size: 30px;
}
.lakeside li {
    font-size: 20px;
}

/*bait.html*/
.bait {
    background-image: url(hooks.webp);
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.711);
    border-width: 50px;
    border: black;
    border-style: double;
    border-radius: 25px;
}
.menu h2 {
    font-size: 40px;
    text-align: center;
}
.menu h3, .menu h4{
    text-align: center;
}
.menu h5 {
    text-align: right;
    color: rgb(191, 0, 0);
    font-size: 22px;
}
.menu dd {
    font-style: italic;
    color: #003b45;
}
.menu dt, .menu dd {
    display: block;
    float: left;
}
.menu dt {
    clear: both;
}
.menu dl {
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}
.box {
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    border-width: 10px;
    border-style: groove;
    border-color: rgb(0, 107, 201);;
    border-radius: 15px;
    min-height: 270px;
}

/*service.html*/
.respooling {
    background-image: url(rods.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.respooling img
{
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    float: right;
    border-radius: 200px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 13px;
}
.respooling h2, .respooling p {
    color: rgb(255, 255, 255);
    padding-left: 30px;
}
.respooling h2 {
    padding-top: 10px;
    font-size: 36px;
}
.respooling p {
    padding-bottom: 10px;
    font-size: 30px;
}
.spooltext {
    margin-left: 10%;
    margin-right: 50%;
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.69);
    border-color: white;
    border-style: solid;
    border-width: 13px;
}

/*facebook.html*/
.facebook {
    background-image: url(thisdude.png);
    height: 600px;
    padding-top: 20px;
}
.facebooktext {
    margin-left: 70%;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.69);
    border-style: solid;
    border-color: black;
    border-width: 13px;
    font-size: 30px;
}
.facebooktext p {
    color: black;
}
.facebooktext img {
    width: 50px
}

/*reactive styling*/
@media only screen and (max-width: 1260px) {
    /*all*/
    .hero-image {
        background-image: none;
    }
    .hero-text {
        color: black;
        transform:none;
    }

    /*index.html*/
    .lakeside h2 {
        text-align: left;
    }

    /*bait.html*/
    .bait {
        background-image: none;
    }
    .menu {
        background-color: white;
    }

    /*services.html*/
    .respooling img {
        display: none;
    }
    .spooltext {
        margin-top: 50px;
        margin-right: 10%;
    }

    /*facebook.html*/
    .facebooktext {
        margin-left: 50%;
    }
}

@media only screen and (max-width: 720px) {
    /*all*/
    #WaterVid {
        display: none;
    }
    body {
        margin-left: 0%;
        margin-right: 0%;
    }

    /*index.html*/
    .lakeside p, .lakeside h2 {
        display: none;
    }

    /*services.html*/
    .respooling{
        background-image: none;
    }

    /*facebook.html*/
    .facebooktext {
        margin-left: 20px;
    }
}